#header_title {
    background-color: blanchedalmond;
}

#header_hero_image {
    background-color: rgb(250, 237, 218);
}

#menu_header {
    background-color:#DF0201;
}

.menu_item {
    background-color: #FB9714;
}

#footer_title {
    background-color: darkgray;
}